<zk>
<style>
		.z-label {
			font-weight:700;
			font-size:14px;
		}
</style>
<window title="ZK MVC" width="600px" border="normal" mode="overlapped" position="center, top"
	apply="zk101.ctrl.SearchController">
	<hbox align="center">
		Keyword:
		<textbox id="keywordBox" />
		<button id="searchButton" label="Search" image="../image/search.png" />
		<label id="errorMsg" value="No Match Found" visible="false" style="color:red;"/>
	</hbox>
	<separator spacing="10px"/>
	<listbox visible="false" id="carListbox">
		<listhead>
			<listheader label="Name" />
			<listheader label="Company" />
			<listheader label="Price" width="20%"/>
		</listhead>
		<template name="model">
			<listitem>
				<listcell label="${each.name}"></listcell>
				<listcell label="${each.company}"></listcell>
				<listcell>$<label value="${each.price}" /></listcell>
			</listitem>
		</template>
	</listbox>
	<hlayout visible="false" style="margin-top:20px">
		<image width="250px" />
		<vbox>
			<label id="nameLabel" />
			<label id="companyLabel" />
			<label id="priceLabel" />
			<label id="descriptionLabel" />
		</vbox>
	</hlayout>
</window>
</zk>